@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* * {
    margin: 0;
} */
main {
    max-width: 1140px;
    margin: 0 auto;
}

.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.text-primary {
    color: #FD6E0A;
}

.secondary-bg {
    background-color: #FFF8F3;
}

.dark-2 {
    color: #474747;
}

.dark-3 {
    color: #757575;
}

.btn-primary {
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
}

.header {
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

.nav-title {
    font-size: 40px;
    font-weight: 800;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 51px;
}

nav li a {
    text-decoration: none;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 35px 0px 200px;
}

.banner-content {
    max-width: 585px;
}

.greetings {
    font-size: 45px;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 30px;
}

.name {
    font-size: 85px;
    font-weight: bold;
}

.bio {
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn-secondary {
    background-color: white;
    font-weight: bold;
    font-size: 20px;
    color: #FD6E0A;
    padding: 18px 35px;
    border: 2px solid #FD6E0A;
    border-radius: 5px;
}

.banner-profile-pic {
    width: 585px;
}

main section{
    margin-top: 130px;
    margin-bottom: 130px;
}

.about {
    padding: 131px 156px;
    /* margin: 70px 80px; */
    text-align: center;
    border-radius: 10px;
    margin-top: 80px;
}

.about-content {
    background-color: white;
    border: 1px solid #474747;
}

.about-title {
    font-size: 35px;
    font-weight: bold;
}

.about-info {
    font-size: 18px;
    margin: 30px 0;
}

.about-items {
    display: flex;
    justify-content: space-around;
}

.item-title{
    font-size: 20px;
    font-weight: normal;
    margin: 2px;
}

.item-description{
    font-size: 24px;
    font-weight: bold;
    margin: 2px;
}
/*Skills*/
.skills{
    text-align: center;
}
.about-head {
    font-size: 35px;
    font-weight: bold;
}

.about-para {
    font-size: 18px;
    margin: 30px 0;
}

.skills-list{
    display:flex;
    text-align: left;
    gap: 24px;
}

.skills-title{
    font-size: 18px;
    font-weight: bold;
}

.skills-description{
    font-size: 16px;
    font-weight: normal;
}

.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgb(0,0,0,0.06);
}